  .container {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 280px;    
  }
  
  /* s1 - s2 */
  @media (min-width: 375px) and (max-width: 767px) {
    .container {
      width: 315px;
    }
  }

  /* S 2 */
  @media (min-width: 768px) {
    .container {
      padding-left: 80px;
      padding-right: 80px;
      width: 608px;
    }
  }
  
  /* S 3 */
  @media (min-width: 1440px) {
    .container {
      padding-left: 160px;
      padding-right: 160px;
      width: 1120px;
    }
  }
  
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
  }

  @media (min-width: 768px) {
    .row {
      margin-left: -80px;
      margin-right: -80px;
    }
  }
  
  @media (min-width: 1440px) {
    .row {
      margin-left: -160px;
      margin-right: -160px;
    }
  }

  .col-s1-one {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  
  .col-s1-two {
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
  }
  
  .col-s1-three {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-s1-half {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  @media (min-width: 768px) {
    .col-s2-one {
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  
    .col-s2-two {
      -ms-flex: 0 0 66.66666%;
      flex: 0 0 66.66666%;
      max-width: 66.66666%;
    }
  
    .col-s2-three {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }

    .col-s2-half {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (min-width: 1440px) {
    .col-s3-one {
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  
    .col-s3-two {
      -ms-flex: 0 0 66.66666%;
      flex: 0 0 66.66666%;
      max-width: 66.66666%;
    }
  
    .col-s3-three {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }

    .col-s3-half {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }