.contact-page {    
    margin: 76px auto 100px;    
}

.contact-page form {
    width: 320px;
    margin: 0 auto;    
} 

.contact-page form h2 {
    margin: 0 0 8px;
}

.contact-page form .f-group {
    text-align: center;
    margin: 0 0 23px;
    position: relative;
}

.contact-page form .f-group:nth-child(6) {
    text-align: left;
    margin: -16px 0 0;
}

.contact-page form .required-fields {    
    margin-left: 50px;
}

.contact-page form .field-error {
    border: 1px solid #FF8686 !important;
}

.contact-page form .f-group label {
    margin: 0 0 7px;
    display: block;    
    font-family: var(--base-heading, 'Francois One'), sans-serif;    
}

.contact-page form .f-group input,
.contact-page form .f-group textarea {
    padding: 16px 16px 13px;
    width: 220px;
    border: 1px solid #CFD8DA;    
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.contact-page form .f-group input:focus,
.contact-page form .f-group textarea:focus {
    border: 1px solid #14C19A !important;
}

.contact-page form .f-group button[type="submit"] {
    margin: 37px 0 0;
    background: var(--primary-color);
    color: var(--white-color, #fff);
    border: none;
    border-radius: 2px;
    font-family: var(--base-heading);
    padding: 10px 40px;
    text-shadow: var(--box-shadow);
}

.contact-page .contact-page-message {    
    font-family: var(--base-heading, 'Francois One'), sans-serif;
    color: #fff;
    font-size: 20px;
    white-space: nowrap;
    margin: 0 0 20px;
}

.contact-page .contact-page-message--success {
    background: #14C19A;  
    padding: 8px 0;  
}

.contact-page .contact-page-message--error {
    background: #3C5B5F;
    padding: 8px 0;      
}

.contact-page .contact-page-message--error span {
    color: #FF8686;
}

@media (min-width: 768px) {
    .contact-page {
        margin: 100px auto 82px;
        position: relative;
    }

    .contact-page .contact-page-message {
        top: 0;
    }
}

@media (min-width: 1440px) {
    .contact-page {
        margin: 145px auto 160px;
    }

    .contact-page form h2 {
        margin: 0 0 28px;
        font-size: 40px !important;
    }

    .contact-page form .f-group label {
        font-size: 20px;
    }
}