.fixed-bar {
    position: fixed;
    top: 0;
    padding: 40px 0 10px;
    background: var(--black-color);
    width: 100%;
    z-index: 9999;
    display: none;
}

.fixed-bar.fixed-bar--show {
    display: block;
}

.fixed-bar .navbar-box .navbar {
    z-index: 9999;
}

.fixed-bar .container {    
    padding-bottom: 27px;
    border-bottom: 1px solid #ddd;
}

.fixed-bar .apple-store-btn {
    border: 1px solid var(--white-color, #fff);
    border-radius: 2px;
    padding: 5px 10px;    
}

.fixed-bar .apple-store-btn img {
    display: none;
}

.fixed-bar .fixed-navbar--collapsed {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background: #14C19A;
    box-shadow: 1px 1px 16px #666;
    width: 160px;
    text-align: center;
    z-index: 999;
}

.fixed-bar .fixed-navbar--collapsed ul {
    list-style: none;
    font-family: 'Barlow Condensed', sans-serif;
    margin: 0;
    padding: 55px 0;        
}

.fixed-bar .fixed-navbar--collapsed ul li {
    margin: 0 0 25px;
}

.fixed-bar .fixed-navbar--collapsed ul li a {
    border-bottom: 5px solid #1BF9C7;
}

@media (min-width: 375px) and (max-width: 767px) {
    .fixed-bar .apple-store-btn {
        border: 0;
        border-radius: 3px;
        background: var(--primary-color, #13C19A);
        padding: 11px 18px;   
        text-shadow: 1px 1px rgba(100, 100, 100, .5);
        margin: -15px;
    }

    .fixed-bar .apple-store-btn img {
        display: inline-block;
    }
}