.navbar-box .navbar {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    text-transform: uppercase;    
    font-family: var(--base-heading, 'Francois One'), sans-serif;    
}

.navbar-box .navbar a {
    color: var(--white-color, #fff);            
}

.header-front-page .navbar-box .navbar .apple-store-btn {
    display: none;
    border: 0;
    border-radius: 3px;
    background: var(--primary-color, #13C19A);
    padding: 11px 18px;   
    text-shadow: 1px 1px rgba(100, 100, 100, .5);
    margin: -15px;
}

@media (min-width: 375px) and (max-width: 767px) {
    .header-front-page .navbar-box .navbar .apple-store-btn {
        display: block;
    }
}

.navbar-box .navbar #navbar-toggle,
.navbar-box .navbar #fixed-navbar-toggle {
    padding: 0;
    position: absolute;
    right: 0;    
    border: none;
    outline: none;
    background: transparent;
    width: 40px;
    height: 40px;
}

.navbar-box .navbar--collapsed {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background: #14C19A;
    box-shadow: 1px 1px 16px #334247;
    width: 160px;
    text-align: center;
    z-index: 999;
}

.navbar-box .navbar--collapsed ul {
    list-style: none;
    font-family: 'Barlow Condensed', sans-serif;
    margin: 0;
    padding: 55px 0;        
}

.navbar-box .navbar--collapsed ul li {
    margin: 0 0 25px;
}

.navbar-box .navbar--collapsed ul li a {
    border-bottom: 5px solid #1BF9C7;
}

@media (min-width: 768px) {
    .navbar-box .navbar a:first-child {
        border: 0;
        border-radius: 3px;
        background: var(--primary-color, #13C19A);
        padding: 11px 18px;   
        text-shadow: 1px 1px rgba(100, 100, 100, .5);
    }

    .navbar-box .navbar a {
        margin-right: 33px;
        font-size: 16px;        
        border-bottom: 5px solid var(--primary-color, #13C19A);
    }

    .navbar-box .navbar a:hover:not(:first-child),
    .navbar-box .navbar a.current-menu-item {
        color: #17E0B3;
        border: none;
    }

    .navbar-box .navbar a:last-child {
        margin: 0;
    }
}